.root {
  font-family: 'Proxima Nova', sans-serif;
  position: relative;
  z-index: 1000;
}

.enter {
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

.enterFrom {
  opacity: 0;
}

.enterTo {
  opacity: 1;
}

.leave {
  transition-timing-function: ease-in;
  transition-duration: 150ms;
}

.leaveFrom {
  opacity: 1;
}

.leaveTo {
  opacity: 0;
}
